aiofiles
annotated-doc
annotated-types
anyio
audioread
boto3
botocore
certifi
cffi
charset-normalizer
click
decorator
distro
fastapi
h11
httpcore
httptools
httpx
idna
iniconfig
jiter
jmespath
joblib
lazy_loader
librosa
llvmlite
MIDIUtil
msgpack
numba
numpy
openai
packaging
platformdirs
pluggy
pooch
pycparser
pydantic
pydantic-settings
pydantic_core
pydub
Pygments
pytest
python-dateutil
python-dotenv
python-multipart
PyYAML
requests
s3transfer
scikit-learn
scipy
setuptools
six
sniffio
soundfile
soxr
starlette
threadpoolctl
tqdm
typing-inspection
typing_extensions
urllib3
uuid6
uvicorn
uvloop
watchfiles
websockets
wheel
